$--trTable: #cecece;
$--backround-theme: #212525;
$--color-theme: #fff;
$--margin-separated : 1vw;  

body{
    background: $--backround-theme;    
    color:$--color-theme;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2{
    font-weight: bold;
}
.title-separated{
    margin: $--margin-separated;
}
.container-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7vw;
}
.tableForm{
    width: 100%;
    background-color: #000;
    &:hover{
        background-color: $--trTable;
        }
        
    }
.td-actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .4vw;
}    
.table-crud{
    margin-bottom: 4vw;
}